String Based Practice Questions assignment

In [ ]:
#1 Write a program to reverse a string.
sample_str = "Knowledge"
rev_str = sample_str[::-1]
print(rev_str)

egdelwonK

In [ ]:
#2Check if a string is a palindrome.
test_str = "Naman"
True if test_str.lower() == test_str[::-1].lower() else False

True

In [ ]:
#3Convert a string to uppercase.
print("rahul".upper())

RAHUL

In [ ]:
#4.convert a string to lowercase.
print("RAHUL".lower())

rahul

In [ ]:
#5.Count the number of vowels in a string.
count = 0
for i in "samplestring".lower():
  if i in 'aeiou':
    count += 1
print(f"Total {count} vowels are present in the string")

Total 3 vowels are present in the string

In [ ]:
#6.Count the number of consonants in a strin.
count = 0
for i in "samplestring".lower():
  if i not in 'aeiou':
    count += 1
print(f"Total {count} consonants are present in the string")

Total 9 consonants are present in the string

In [ ]:
#7.Remove all whitespaces from a string.
temp = ''
for i in ' sample  string  ':
  if i != ' ':
    temp += i
print(temp)

print(''.join(' sample  string   '.split()))

samplestring
samplestring

In [ ]:
#8. FInd the length of a string without using the len() function.
length = 0
for i in 'sample  string':
  length += 1
print(length)

14

In [ ]:
#9. Check if a string contains a specific word.
word = 'by'

len_word = len(word)

sample_str = "my name is rahul,hello"

flag = False
for i in range(len(sample_str)):
  if sample_str[i] == word[0]:
    for j in range(1, len_word):
      if i+j < (len(sample_str) - 1) and sample_str[i+j] != word[j]:
        break
      if j == len_word - 1:
        flag = True

print(flag)

False

In [ ]:
#10.Replace a word in a string with another word.
"There are seven day in the week".replace('day', 'days')

'There are seven days in the week'

In [ ]:
#11.Count the occurences of a word in a string.
"sample string to count occurences of sample string".count('sample')

2

In [ ]:
#12.Find the first occurence of a word in a string.
"first occurence of sample in sample string".find('sample')

19

In [ ]:
#13.Find the last occurence of a word in a string.
index = 0

word = 'hello'

sample_str = 'My name is hello, saying hello to everyone'

for i in range(len(sample_str)):
  if sample_str[i] == word[0]:
    for j in range(1, len(word)):
      if i+j<len(sample_str) and sample_str[i+j] == word[j]:
        if j == len(word)-1:
          if index<i:
            index = i
print(index)

'My name is hello, saying hello to everyone'.rfind('hello')

25

25

In [ ]:
#14.Split a string into a list of words.

'split string into list of words'.split(' ')

['split', 'string', 'into', 'list', 'of', 'words']

In [ ]:
#15.Join a list of words into a string.
' '.join(['split', 'string', 'into', 'list', 'of', 'words'])

'split string into list of words'

In [ ]:
#16.Convert a string where words are separated by spaces to one where words are separated by underscores.
'split string into list of words'.replace(' ','_')

'split_string_into_list_of_words'

In [ ]:
#17.Check if a string starts with a specific word or phrase.
'hi how are you'.startswith('hi')

True

In [ ]:
#18.Check if a string ends with a specific word or phrase.
'ends with a word end'.endswith('end')

True

In [ ]:
#19.Convert a string to title case.
'convert string into title case'.title()

'Convert String Into Title Case'

In [ ]:
#20.Find the longest word in a string.
sample_str = 'Find the acknowledge longest word in a string'

max = 0

for i in sample_str.split(' '):
  if len(i)>max:
    max = len(i)
    longest = i
print(f"{longest} is the longest word of length {max}")

acknowledge is the longest word of length 11

In [ ]:
#21.Find the shortest word in a string.

min = float('inf')

for i in sample_str.split(' '):
  if len(i)<min:
    min = len(i)
    smallest = i

print(f"{smallest} of length of {min}")

a of length of 1

In [ ]:
#22.Reverse the order of words in a string.
sample_str = 'Reverse the order of words in a string'
' '.join(sample_str.split(' ')[::-1])

'string a in words of order the Reverse'

In [ ]:
#23.Check if a string is alphanumeric.
'123abA'.isalnum()

True

In [ ]:
#24.Extract all digits from a string.
sample = 'a12bch35'
print([i for i in sample if i.isdigit() ])

['1', '2', '3', '5']

In [ ]:
#25.Extract all alphabets from a string.
print([i for i in sample if i.isalpha()])

['a', 'b', 'c', 'h']

In [ ]:
#26.Count the number of uppercase letters in a string.
print([i for i in 'AbsjJKN' if i.isupper()])

['A', 'J', 'K', 'N']

In [ ]:
#27.Count the number of lowercase letters in a string.
print([i for i in 'abJSakj' if i.islower()])

['a', 'b', 'a', 'k', 'j']

In [ ]:
#28.Swap the case of each character in a string.
'aBcDeFF'.swapcase()

'AbCdEff'

In [ ]:
#29.Remove a specific word from a string.
'It is a demo string'.replace('string',"")

'It is a demo '

In [ ]:
#30.Check if a string is a valid email address.
email = "abcabc.com"
if '@' in email:
    username, domain = email.split('@')
else:
  print("Invalid Email")
if '.' in domain:
  domain_name, extension = domain.split('.')
  if not extension.isalpha() and not domain_name.isalpha():
    print("Invalid email")
else:
  print("Invalid Email")

Invalid Email

In [ ]:
#31.Extract the username from an email address string.
email = "abc@abc.com"

username = email.split('@')[0]
print(username)

abc

In [ ]:
#32.Extract the domain name from an email address string.
email = "abc@abc.com"

domain_name = email.split('@')[1].split('.')[0]
print(username)

abc

In [ ]:
#33.Replace multiple spaces in a string with a single space.
string_multi_spaces = 'hi  my    name is'
" ".join(string_multi_spaces.split())

'hi my name is'

In [ ]:
#34.Check if a string is a valid URL.
url = "www.google.com"
if not url.startswith(("http://","https://","ftp://")):
  print("Invalid url")
else:
  print("Valid url")

Invalid url

In [ ]:
#35.Extract the protocol(http or https) from a URL string.
protocol = "http://www.google.com".split(':')[0]
print(protocol)

http

In [ ]:
#36.Find the frequency of each character in a string.
string = "countthecharacters"
freq = {}
for i in string:
  if i not in freq.keys():
    freq[i] = 1
  else:
    freq[i] += 1
print(freq)

{'c': 3, 'o': 1, 'u': 1, 'n': 1, 't': 3, 'h': 2, 'e': 2, 'a': 2, 'r': 2, 's': 1}

In [ ]:
#37.Remove all punctuation from a string.
sample_str = "Hello, world! This is a test: 100% sure."

cleaned_str = ''.join([char for char in sample_str if char.isalnum() or char.isspace()])
print(cleaned_str)

Hello world This is a test 100 sure

In [ ]:
#38.Check if a string contains only digits.
a = 'ab123'
b = '123'

print(a.isdigit())
b.isdigit()

False

True

In [ ]:
#39.Check if a string contains only alphabets.
print('ab123'.isalpha())
print('123'.isalpha())
print('abc'.isalpha())

False
False
True

In [ ]:
#40.Convert a string to a list of characters.
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
#41.Check if two strings are anagrams.
str1 = 'silent'
str2 = 'listen'

if sorted(str1) == sorted(str2):
  print("Anagram")

Anagram

In [ ]:
#42.Encode a string using a Caesar cipher.
text = 'Hello my name is Abhay'
result = ""
for char in text:
  if char.isalpha():
     shift_base = ord('A') if char.isupper() else ord('a')
     result += chr((ord(char) - shift_base + 5)%26 + shift_base)
  else:
    result += char

print(result)

Mjqqt rd sfrj nx Fgmfd

In [ ]:
#43.Decode a Caesar cipher encoded string.
text = 'Mjqqt rd sfrj nx Fgmfd'
result = ""
for char in text:
  if char.isalpha():
    shift_base = ord('A') if char.isupper() else ord('a')
    result += chr((ord(char) - shift_base -5)%26 + shift_base)
  else:
    result += char

print(result)

Hello my name is Abhay

In [ ]:
#44.Find the most frequent word in a string.
word = 'hello this is sample string'
word = word.replace(' ', '')
dict1 = {}

for i in word:
  if i not in dict1.keys():
    dict1[i] = 1
  else:
    dict1[i] += 1
print(dict1)

{'h': 2, 'e': 2, 'l': 3, 'o': 1, 't': 2, 'i': 3, 's': 4, 'a': 1, 'm': 1, 'p': 1, 'r': 1, 'n': 1, 'g': 1}

In [ ]:
#45.Find all unique words in a string.
set('abcabc')

{'a', 'b', 'c'}

In [ ]:
#46.Count the number of syllables in a string.
str1  = 'aabcodefgahjklaeiou'
counting = False
counted = False
counter = 0
for i in str1:
  if i in 'aeiou':
    if counting:
      continue
    else:
      counting = True
      counter += 1
  elif counting:
    counting = False

print(counter)

5

In [ ]:
#47.Check if a string contains any special characters.
not '12af#'.isalnum()

True

In [ ]:
#48.Remove the nth word from a string.
sentence = "this is a sample string to remove a word"
n = 3
sentence = sentence.split(' ')
new_sentence = ' '.join(sentence[:n]) +' '+ ' '.join(sentence[n+1:])
print(new_sentence)

this is a string to remove a word

In [ ]:
#49. Insert a word at the nth position in a string.
sentence = "this is a sample string to insert a word"
n = 2
sentence = sentence.split(' ')
sentence.insert(n,'new_word')
' '.join(sentence)

'this is new_word a sample string to insert a word'

In [ ]:
#50. Convert a CSV string to a list of lists.
a = [[i] for i in 'hello, this, is comma, separted'.split(',')]
print(a)

[['hello'], [' this'], [' is comma'], [' separted']]

List based Practice problem

In [ ]:
#1. Create a list with integers from 1 to 10.
print([i for i in range(1,11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2.Find  the length of a list whithout using the len() function.
counter = 0

for i in [1,2,3,4]:
  counter+= 1

print(f"length of list is {counter}")

length of list is 4

In [ ]:
#3.Append an element to the end of a list.
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
#4.Insert an element at a specific index in a list.
a = [1,2,3,4,5,6]
a.insert(2, 11)
print(a)

[1, 2, 11, 3, 4, 5, 6]

In [ ]:
#5.Remove an element from a list by its value.
a = [1,2,3,4]
a.remove(3)
print(a)

[1, 2, 4]

In [ ]:
#6 Remove an element from a list by its index.
a = [1,2,3,4,5]
a.pop(1)
print(a)

[1, 3, 4, 5]

In [ ]:
#7. Check if an element exists in a list.
a = [1,2,3,4]
5 in a

False

In [ ]:
#8. Find the index of first occurence of an element in a list.
[2,1,3,1].index(1)

1

In [ ]:
#9. Count the occurrences of an element in a list.
[1,2,1,3,1].count(1)

3

In [ ]:
#10.Reverse the order of elements in a list.
a = [1,2,3,4]
b = a[::-1]
print(b)

[4, 3, 2, 1]

In [ ]:
#11.Sort a list in ascending order.
a = [1,3,4,2,1]
a.sort()
print(a)

[1, 1, 2, 3, 4]

In [ ]:
#12. Sort a list in descending order.
a = [1,2,3,2,1]
a.sort(reverse = True)
print(a)

[3, 2, 2, 1, 1]

In [ ]:
#13. Create a list of even numbers from 1 to 20.
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.
[i for i in range(1,21) if i%2!= 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list
sum(
[1,2,3,4])

10

In [ ]:
#16. Find the maximum value in a list.
max([1,2,3])

3

In [ ]:
#17. Find the minimum value in a list.
min([1,2,3,4])

1

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.
import random
random_list = [random.randint(1,100) for _ in range(10) ]
print(random_list)

[71, 100, 42, 97, 15, 13, 97, 65, 98, 100]

In [ ]:
#20.Remove duplicates from a list.
a = [1,2,3,1,2,3]
b = list(set(a))
print(b)

c = list(dict.fromkeys(a))
print(c)

[1, 2, 3]
[1, 2, 3]

In [ ]:
#21.Find the common elements between two lists.
a = [1,2,3]
b = [3,4,5]
common = [i for i in a if i in b]
print(common)

[3]

In [ ]:
#22. Find the difference between two lists.
a = [1,2,3]
b = [3,4,5]
diff = [i for i in a if i not in b]
print(diff)

[1, 2]

In [ ]:
#23.Merge two lists.

a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
#24.Multiply all elements in a list by 2
a = [1, 2, 3]
b = [i*2 for i in a]
print(b)

[2, 4, 6]

In [ ]:
#25.Filter out all even numbers from a list.
a = [1,2,3,4,5]
b = [i for i in a if i%2 == 0]
print(b)

[2, 4]

In [ ]:
#26.Convert alist of strings to a list of integers.
a = ['1', '2', '3']
b = [int(i) for i in a]
print(b)

[1, 2, 3]

In [ ]:
#27.Convert a list of integers to a list of strings.
a = [1,2,3]

b = [str(i) for i in a]
print(b)

['1', '2', '3']

In [ ]:
#28. Flatten a nested list.
from itertools import chain

nested_list = [[1,2],[2,3]]
flat_list = list(chain(*nested_list))
print(flat_list)

[1, 2, 2, 3]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.
a = 0
b = 1
fib = []
n = 10
for i in range(n):
  if i == 0 or i == 1:
    fib.append(i)
    continue
  a,b = b, a+b
  fib.append(b)

print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#30.Check if a list is sorted.
a = [1,2,3]
b = [3,2,1]

result = 'sorted'
prev = b[0]
for i in b:
  if prev>i:
    result = 'unsorted'
    break
  else:
    prev = i
print(result)

unsorted

In [ ]:
#31. Rotate a list to the left by n positions.
def rotate_left(sample_list, n):
  length = len(sample_list)
  n = n%length
  print(n)

  l = 0
  r = length - 1

  while l<r:
    sample_list[l], sample_list[r] = sample_list[r], sample_list[l]
    l += 1
    r -= 1


  l = 0
  r = length - n - 1

  while l<r:
    sample_list[l], sample_list[r] = sample_list[r], sample_list[l]
    l += 1
    r -= 1

  l = length - n
  r = length -1

  while l<r:
    sample_list[l], sample_list[r] = sample_list[r], sample_list[l]
    l += 1
    r -= 1
  print(sample_list)


list1 = [1,2,3,4,5]

rotate_left(list1,2)
rotate_left([1,2,3,4,5],3)
rotate_left([1,2,3,4,5],4)
rotate_left([1,2,3,4,5],5)

2
[3, 4, 5, 1, 2]
3
[4, 5, 1, 2, 3]
4
[5, 1, 2, 3, 4]
0
[1, 2, 3, 4, 5]

In [ ]:
#32. Rotate a list to the right by n positions.
def rotate_right(sample_list, n):
  length = len(sample_list)
  n = n%length

  l = 0
  r = length - 1

  while l<r:
    sample_list[l], sample_list[r] = sample_list[r], sample_list[l]
    l += 1
    r -= 1

  l = 0
  r = n -1

  while l<r:
    sample_list[l], sample_list[r] = sample_list[r], sample_list[l]
    l += 1
    r -= 1

  l = n
  r = length - 1

  while l<r:
    sample_list[l], sample_list[r] = sample_list[r], sample_list[l]
    l += 1
    r -= 1
  print(sample_list)

rotate_right([1,2,3,4,5],1)
rotate_right([1,2,3,4,5],2)
rotate_right([1,2,3,4,5],3)
rotate_right([1,2,3,4,5],4)
rotate_right([1,2,3,4,5],5)

[5, 1, 2, 3, 4]
[4, 5, 1, 2, 3]
[3, 4, 5, 1, 2]
[2, 3, 4, 5, 1]
[1, 2, 3, 4, 5]

In [ ]:
#33. Create a list of prime numbers up to 50.
list_prime = []

for i in range(1, 51):
  cnt = 0
  for j in range(1,int(i**0.5)+1):
    if i %j == 0:
      cnt += 1
    if cnt > 1 or i == 1:
      break
    if j == int(i**0.5):
      list_prime.append(i)

print(list_prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#34. Split a list into chunks of size n.
lst = [i for i in range(51)]
chunk_s = 3
chunks = [lst[i:i+chunk_s] for i in range(0, len(lst), chunk_s)]
print(chunks)

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11], [12, 13, 14], [15, 16, 17], [18, 19, 20], [21, 22, 23], [24, 25, 26], [27, 28, 29], [30, 31, 32], [33, 34, 35], [36, 37, 38], [39, 40, 41], [42, 43, 44], [45, 46, 47], [48, 49, 50]]

In [92]:
#35. Find the second largest number in a list.
arr = [1,2,3,4,5,2]
largest = arr[0]
slargest = -1

for i in arr:
  if i > largest:
    slargest = largest
    largest = i

print(slargest)

4

In [93]:
#36. Replace every element in a list with its square.
arr = [1, -2, 3, -4, 5]
arr = [i**2 for i in arr]
print(arr)

[1, 4, 9, 16, 25]

In [94]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
arr = ['a', 'b', 'c', 'd']
d = {val: idx for idx, val in enumerate(arr)}
print(d)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [95]:
#38. Shuffle the elements of a list randomly.

import random
arr = [1, 2, 3, 4, 5]
random.shuffle(arr)
print(arr)

[2, 4, 1, 3, 5]

In [96]:
#39. Create a list of the first 10 factorial numbers.

def fact(n):
    return 1 if n == 0 else n * fact(n - 1)

lst = [fact(i) for i in range(10)]
print(lst)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [97]:
#40. Check if two lists have at least one element in common.

a = [1, 2, 3]
b = [4, 5, 2]

common = any(i in a for i in b)
print(common)

True

In [98]:
#41. Remove all elements from a list.
arr = [1, 2, 3, 4]
arr.clear()
print(arr)

[]

In [99]:
#42. Replace negative numbers in a list with 0.
arr = [-1, 2, -3, 4, -5]
arr = [0 if i < 0 else i for i in arr]
print(arr)

[0, 2, 0, 4, 0]

In [100]:
#43. Convert a string into a list of words.
text = "Hello, how are you?"
words = text.split()
print(words)

['Hello,', 'how', 'are', 'you?']

In [101]:
#44. Convert a list of words into a string.
words = ['Hello', 'how', 'are', 'you']
sentence = ' '.join(words)
print(sentence)

Hello how are you

In [102]:
#45. Create a list of the first n powers of 2.

n = 10
powers_of_2 = [2**i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [109]:
#46. Find the longest string in a list of strings.
del max
arr = ["apple", "banana", "kiwi", "strawberry"]
longest = max(arr, key=len)
print(longest)

strawberry

In [108]:
#47. Find the shortest string in a list of strings.
del min
arr = ["apple", "banana", "kiwi", "strawberry"]
shortest = min(arr, key=len)
print(shortest)

kiwi

In [105]:
#48. Create a list of the first n triangular numbers.
n = 10
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [106]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(lst, sub):
    return any(lst[i:i+len(sub)] == sub for i in range(len(lst) - len(sub) + 1))

lst = [1, 2, 3, 4, 5]
sub = [2, 3, 4]
print(is_subsequence(lst, sub))

True

In [107]:
#50. Swap two elements in a list by their indices.
arr = [1, 2, 3, 4, 5]
i, j = 1, 3  # Swap elements at index 1 and 3
arr[i], arr[j] = arr[j], arr[i]
print(arr)

[1, 4, 3, 2, 5]

Tuple based practice Problem

In [1]:
#1. Create a tuple with integers from 1 to 5.
tup = (range(6))
print(tup)

range(0, 6)

In [2]:
#2. Access the third element of a tuple.
print(tup[2])

2

In [3]:
#3.Find the length of a tuple without using the len() function.
cnt = 0
tup = (1, 2, 3, 4, 5)
for i in tup:
    cnt += 1

print(f"length = {cnt}")

length = 5

In [4]:
#4. Count the occurences of an element in a tuple.
tup = (1, 2, 3, 4, 5, 6, 2, 1, 4, 6, 7)

freq = {}

for i in tup:
    if i in freq.keys():
        freq[i] +=1
    else:
        freq[i] = 1

print(freq)

{1: 2, 2: 2, 3: 1, 4: 2, 5: 1, 6: 2, 7: 1}

In [8]:
#5. Find the index of the first occurence of an element in a tuple.
tup = (1, 2, 3, 4, 5, 6, 2, 1, 4, 6, 7)
tup.index(2)

1

In [9]:
#6. Check if an element exists in a tuple.
tup = (1, 2, 3, 4, 5, 6, 2, 1, 4, 6, 7)
1 in tup

True

In [10]:
#7. Convert a tuple to a list
a = (1, 2, 3, 4, 5)
print(list(a))

[1, 2, 3, 4, 5]

In [11]:
#8. Convert a list to a tuple.
lst = [1, 2, 3, 4]
print(tuple(lst))

(1, 2, 3, 4)

In [13]:
#9. Unpack the elements of a tuple into variables.
a, b, c = (1,2,3)
print(a,b,c)

1 2 3

In [15]:
#10. Create a tuple of a even numbers from 1 to 10.
a = tuple(i for i in range(1,11) if i %2 == 0)
print(a)

(2, 4, 6, 8, 10)

In [16]:
#11. Create a tuple of odd numbers from 1 to 10.
a = tuple(i for i in range(1,11) if i%2!=0)
print(a)

(1, 3, 5, 7, 9)

In [17]:
#12. Concatenate two tuples.
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)

print(tup1 + tup2)

(1, 2, 3, 4, 5, 6)

In [18]:
#13. Repeat a tuple three times.
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [21]:
#14. Check if a tuple is empty.
a = (1,2)
if a == ():
    print ("Empty")

else:
    print("Not Empty")

Not Empty

In [22]:
#15. Create a nested tuple.

a = ((1,2,3), (4,4,5))
print(a)

((1, 2, 3), (4, 4, 5))

In [24]:
#16. Access the first element of a nested tuple.
print(a[0][2])

3

In [25]:
#17. Create a tuple with a single element.
a = (1,)
print(type(a))

<class 'tuple'>

In [26]:
#18. Compare two tuples.
tup1 = (1,2)
tup2 = (2,3)

print(tup1==tup2)

False

In [28]:
#19. Delete a tuple
tup1 = (1,2,3)
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [30]:
#20. Slice a tuple.
tup1 = (1,2,3,4)
tup1[1:3]

(2, 3)

In [31]:
#21. Find the maximum value in a tuple.
a = (1,2,3,4,5)
max(a)

5

In [33]:
#22. Find the minimum value in a tuple.
a = (1,2,3, -1)
min(a)

-1

In [37]:
#23. Convert a string to a tuple of characters.
tuple("abcd")

('a', 'b', 'c', 'd')

In [34]:
#24. Convert a tuple of characters to a string.
tup1 = ('a', 'b', 'c', 'd')
''.join(tup1)

'abcd'

In [36]:
#25. create a tuple from multiple data types.
tup1 = (1, 'a', [1,2,3], {'a' : 1})
print(tup1)

(1, 'a', [1, 2, 3], {'a': 1})

In [38]:
#26. Check if two tuples are identical.
tup1 = (1,2,3)
tup2 = (1,2,3)
tup1 == tup2

True

In [42]:
#27. Sort the elements of a tuple.
tup1 = (1,4,2,3,1,5)
tup_sorted = sorted(tup1)
print(tup_sorted)

[1, 1, 2, 3, 4, 5]

In [44]:
#28. Convert a tuple of integers to a tuple of strings.
a = (1,2,3,4)
a = tuple(str(i) for i in a)
print(a)

('1', '2', '3', '4')

In [45]:
#29. Convert a tuple of strings to a tuple of integers. 
a = ('1', '2', '3', '4')
a = tuple(int(i) for i in a)
print(a)

(1, 2, 3, 4)

In [46]:
#30. Merge two tuples.
tup1 = (1,2,3)
tup2 = (4,5,6)

print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

In [47]:
#31. Flatten a nested tuple
tup1 = ((1,2,3), (3,4,5))

print(tup1[0] + tup1[1])

(1, 2, 3, 3, 4, 5)

In [8]:
#32. Create a tuple of the first 5 prime numbers.
tup1 = []

temp = 1

while len(tup1)<5:
    cnt = 0
    for i in range(1,int(temp**0.5)+1):
        if temp % i == 0:
            cnt += 1
    if cnt < 2:
        tup1.append(temp)
    temp += 1

tup1 = tuple(tup1)
print(tup1)

(1, 2, 3, 5, 7)

In [9]:
#33. Check if a tuple is a palindrome.
tup1 = (1,2,1)

if tup1 == tup1[::-1]:
    print("Palindrome")

Palindrome

In [11]:
#34. Create a tuple of squares of numbers from 1 to 5.

tup1 = tuple(i**2 for i in range(1, 6))
print(tup1)

(1, 4, 9, 16, 25)

In [12]:
#35. Filter out all even numbers from a tuple.
tup1 = (1,2,3,4,5,6,7,8)

tup1_even = tuple(i for i in tup1 if i%2 == 0)
print(tup1_even)

(2, 4, 6, 8)

In [15]:
#36. Multiply all elements in a tuple by 2.
tup1 = (1,2,3)
tup1 = tuple(2*i for i in tup1)
print(tup1)

(2, 4, 6)

In [17]:
#37. Create a tuple of random numbers.
import random

tup1 = tuple(random.randint(1,100) for i in range(5))

print(tup1)

(53, 35, 43, 30, 75)

In [23]:
#38. Check if a tuple is sorted.
tup1 = (1,2,3)

if tup1 == tuple(sorted(tup1)):
    print("Sorted")
else:
    print("Unsorted")

Sorted

In [27]:
#39. Rotate a tuple to the left by n positions.
tup1 = (1,2,3,4,5)

def rotate_left(tup1, n):

    lst = list(tup1)

    i = 0
    l = len(lst) -1

    while i<l:
        lst[i], lst[l] = lst[l], lst[i]
        i += 1
        l -= 1

    i = 0
    l = len(lst) - n - 1

    while i<l:
        lst[i], lst[l] = lst[l], lst[i]
        i += 1
        l -= 1

    i = len(lst) - n
    l = len(lst) - 1
    while i<l:
        lst[i], lst[l] = lst[l], lst[i]
        i += 1
        l -= 1

    return tuple(lst)

print(rotate_left(tup1, 1))
print(rotate_left(tup1, 2))

(2, 3, 4, 5, 1)
(3, 4, 5, 1, 2)

In [29]:
#40. Rotate a tuple to the right by n positions.
tup1 = (1,2,3,4,5)

def rotate_right(tup1, n):
    lst = list(tup1)

    i = 0
    l = len(lst) -1

    while i<l:
        lst[i], lst[l] = lst[l], lst[i]

        i += 1
        l -= 1

    i = 0
    l = n - 1

    while i<l:
        lst[i], lst[l] = lst[l], lst[i]
        i += 1
        l -= 1


    i = n
    l = len(lst) - 1
    while i<l:
        lst[i], lst[l] = lst[l], lst[i]
        i += 1
        l -= 1

    return tuple(lst)


print(rotate_right(tup1, 1))
print(rotate_right(tup1, 2))

(5, 1, 2, 3, 4)
(4, 5, 1, 2, 3)

In [31]:
#41. Create a tuple of the first 5 fibonacci numbers.
a = 0
b = 1
lst = [a,b]
for i in range(3):
    a, b = b, a+b
    lst.append(b)
print(tuple(lst))

(0, 1, 1, 2, 3)

In [ ]:
# 42. Create a tuple from user input

tup = tuple(input("Enter an element of tuple"))
print(tup)

In [1]:
#43. Swap two elements in a tuple.
a = (1,2,3)

b = list(a)
b[1], b[2] = b[2], b[1]

print(tuple(b))

(1, 3, 2)

In [2]:
#44. Reverse the elements of a tuple
(1, 2, 3, 4)[::-1]

(4, 3, 2, 1)

In [3]:
#45. Create a tuple of the first n powers of 2.
n = 5

a = tuple(2**i for i in range(n))
print(a)

(1, 2, 4, 8, 16)

In [1]:
#46. Find the longest string in a tuple of strings.
a = ('abc', 'abcd', 'abcde', 'abcedf', 'ab', 'a')
max_len = 0
max_str = ""

for i in a:
    if max_len < len(i):
        max_len = len(i)
        max_str = i

print(f"{max_str} is the maximum length of {max_len}")

abcedf is the maximum length of 6

In [2]:
#47. Find the shortest string in a tuple of strings
a = ('abc', 'abcd', 'abcde', 'abcedf', 'ab', 'a')

min_len = float("inf")

min_str = ""

for i in a:
    if min_len > len(i):
        min_len = len(i)
        min_str = i

print(f"{min_str} is the smallest string of length {min_len}")

a is the smallest string of length 1

In [5]:
#48. Check if tuple of the first 'n' triangular numbers.

triangular_numbers = tuple(n*(n+1)//2 for n in range(1,11))

print(triangular_numbers)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [8]:
#49. Check if a tuple contains another tuple as a subsequence.
a = ((1,), (2,3), (4,5), 6, 7)


for i in a:
    if isinstance(i, tuple):
        print("Contains nested tuple")
        break

Contains nested tuple

In [11]:
# 50. Create a tuple of altering 1s and 0s of length 'n'
n = 10
altering_tup = tuple( 0 if i%2==0 else 1 for i in range(n))
print(altering_tup)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set based Practice problem

In [12]:
#1. Create a set with integers from 1 to 5.
res = {range(6)}
print(res)
print(type(res))

{range(0, 6)}
<class 'set'>

In [13]:
#2. Add an element to a set.
a = {1, 2, 3, 4}

a.add(6)
print(a)

{1, 2, 3, 4, 6}

In [14]:
#3. Remove an element from a set.
a = {1,2,3,4,5}
a.remove(1)
a.discard(2)

print(a)

{3, 4, 5}

In [15]:
#4. Check if an elemetn exists in a set.
a = {1, 2, 3, 4, 5}

1 in a

True

In [16]:
#5. Find the length of a set without using the len() function.
a = {1, 2, 3, 4, 5}

length = sum(1 for _ in a)

print(length)

5

In [17]:
#6. Clear all elements from a set.
a = {1, 2, 3, 4}

a.clear()

print(a)

set()

In [19]:
#7. Create a set of even numbers from 1 to 10.
res = {i for i in range(1, 11) if i%2 == 0}
print(res)

{2, 4, 6, 8, 10}

In [20]:
#8. Create a set of odd numbers from 1 to 10.
res = {i for i in range(1,11) if i%2 != 0}
print(res)

{1, 3, 5, 7, 9}

In [21]:
#9. Find the union of two sets.
a = {1, 2, 3, 4}
b = {5, 6, 1}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [ ]:
#10. Find the intersection of two sets.
a.intersection(b) #a & b

{1}

In [ ]:
#11. Find the differnece between two sets.
a.difference(b) # a - b

{2, 3, 4}

In [27]:
#12. Check if a set is a subset of another set.
a.issubset(b)

False

In [28]:
#13. Check if a set is a superset of another set.
a.issuperset(b)

False

In [29]:
#14. Create a set from a list.
print(set([1, 2, 3, 4]))

{1, 2, 3, 4}

In [30]:
#15. Convert a set to a list.
a = {1, 2, 3, 4}
print(list(a))

[1, 2, 3, 4]

In [55]:
#16. Remove a random element from a set.
import random

a = {1, 2, 3, 4}
random_element = random.sample(sorted(a), 1)[0]
a.remove(random_element)
print(a)

{1, 2, 4}

In [56]:
# 17. Pop an element from a set.
{1, 2, 3, 4, 5}.pop()

1

In [57]:
#18. Check if two sets have no elements in a common.
a = {1, 2, 3}
b = {3, 4, 5}
a.isdisjoint(b)

False

In [58]:
#19. Find the symmetric difference between two sets.
a = {1, 2, 3, 4, 5}
b = {5, 6, 7, 8}
a.symmetric_difference(b)

{1, 2, 3, 4, 6, 7, 8}

In [60]:
#20. Update a set with elements from another set.
a = {1,2,3,4}
b = {4,5,6,7}

a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [81]:
#21. Create a set of the first 5 prime numbers.

num = 1
res = set()
while len(res) < 5:
    cnt = 0
    for j in range(2, int(num**0.5) + 1):
        if num%j == 0:
            cnt += 1
            break
     
      
    if cnt == 0:
        res.add(num)
        
    num += 1

print(res)

{1, 2, 3, 5, 7}

In [83]:
#22. Check if two sets are identical.
a = {1,2,3}
b = {4,5,6}
c = {1,3,2}

a == c

True

In [85]:
#23. Create a frozen set.

fz = frozenset([1,2,3])
print(fz, type(fz))

frozenset({1, 2, 3}) <class 'frozenset'>

In [88]:
#24. Check if as set is disjoint with another set.

a = {1,2,3}
b = {2,3}
a.isdisjoint(b)

False

In [90]:
#25. Create a set of squares of numbers from 1 to 5.

sq = {i**2 for i in range(1,6)}
print(sq)

{1, 4, 9, 16, 25}

In [91]:
#26. Filter out all even numbers from a set.

a = {1,2,3,4,5,6}

res = {i for i in a if i%2==0}
print(res)

{2, 4, 6}

In [92]:
#27. Multiply all elements in set by 2.
a = {1,2,3,4,5,6}

res = {2*i for i in a}
print(res)

{2, 4, 6, 8, 10, 12}

In [94]:
#28. Create a set of random numbers.

import random

res = {random.randint(1,100) for _ in range(10)}
print(res)

{5, 11, 80, 50, 20, 52, 87, 56, 29, 30}

In [95]:
#29. Check if a set is empty.
a = {1,2,3}
if not a:
    print("set is empty")
else:
    print("Set is not empty")

Set is not empty

In [98]:
#30. Create a nested set.
a = {1,2,3, frozenset({4,5,6})}
print(a)

{1, 2, 3, frozenset({4, 5, 6})}

In [99]:
#31. Remove an element from a set using the discard method.

a = {1,2,3,4}
a.discard(2)
print(a)

{1, 3, 4}

In [100]:
#32. Compare two sets.
a = {1, 2, 3}
b = {1, 2, 3}

a==b

True

In [102]:
#33. Create a set from a string.

a = set("abcdef")
print(a)

{'f', 'a', 'e', 'd', 'c', 'b'}

In [103]:
#34. Convert a set of string to a set of integers.
set_str = {'1' , '2', '3'}
set_int = {int(i) for i in set_str}
print(set_int)

{1, 2, 3}

In [104]:
#35. Convert a set of integers to a set of strings.
set_str = {1,2,3,4}
set_int = {str(i) for i in set_str}
print(set_int)

{'3', '2', '1', '4'}

In [106]:
#36. Create a set from a tuple.

set((1,2,3,4))

{1, 2, 3, 4}

In [107]:
#37. Convert a set to a tuple.

tuple({1,2,3,4,5,6})

(1, 2, 3, 4, 5, 6)

In [108]:
#38. Find the maximum value in a set.
a = {1,2,3,4,5}
max(a)

5

In [109]:
#39. Find the minimum value in a set.
a = {1,2,3,4,5,6}
min(a)

1

In [5]:
#40. Create a set from user input.
a = set(map(int, input("Enter elements").split()))
print(a)

{1, 2, 3, 4, 5}

In [6]:
#41. Check if the intersection of two sets is empty.
a = {1,2,3}
b = {4,5,6}

if not a.intersection(b):
    print("No common element")
else:
    print("There are common elements")

No common element

In [14]:
#42. Create a set of the first 5 Fibonacci numbers.
a = 0
b = 1
res = [0,1]
for i in range(3):
    b, a = a+b, b
    res.append(b)
print(set(res))

{0, 1, 2, 3}

In [15]:
#43. Remove duplicates from a list using sets.
a = [1,2,3,4,5,1,2,3]

print(set(a))

{1, 2, 3, 4, 5}

In [16]:
#44. Check if two sets have the same elements, regardsless of their count.
a = {1,2,3,4}
b = {2,3,4}

flag = True
for i in b:
    if i not in a:
        flag = False
        break
if flag:
    print("Same elements")
else:
    print("Different elements")

Same elements

In [17]:
#45. Create a set of the first 'n' powers of 2.
n= 5
res = {2**i for i in range(n)}
print(res)

{1, 2, 4, 8, 16}

In [18]:
#46. Find the common elements between a set and a list.

a = {1,2,3,4}
b = [1,2]

a.intersection(b)

{1, 2}

In [23]:
#47. Create a set of the first 'n' triangular numbers.
result = 0
res = { n*(n+1)//2 for n in range(1, 10)}

print(res)

{1, 3, 36, 6, 10, 45, 15, 21, 28}

In [24]:
#48. Check if a set contains another set as a subset.
a = {1,2,3,4}
b = {4,5}
a.issubset(b)

False

In [27]:
#49. Create a set of alternating 1s and 0s of length n.
res = {0 if i%2 == 0 else 1 for _ in range(10)}
print(res)

{0}

In [29]:
#50. Merge multiple sets into one.
a = {1,2,3}
b = {4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}